.spinner {
  font-size: 300%;
  animation: spin-animation 1.0s 4000;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.check-out {
  align-self: center;
  width: fit-content;
}

.prep {
  font-size: 24px;
}

.received-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  background-image: URL("https://images.pexels.com/photos/139321/pexels-photo-139321.jpeg?cs=srgb&dl=pexels-fwstudio-139321.jpg&fm=jpg");
  background-size: 40vh;
}

// LOADING BAR ANIMATION
.progress .stageOne {
  height: 20px;
  animation: loading-bar-one 3.0s;
}
.progress .stageTwo {
  height: 20px;
  animation: loading-bar-two 1.0s;
}
.progress .stageThree {
  height: 20px;
  animation: loading-bar-three 1.0s;
}
.progress .stageFour {
  height: 20px;
  animation: loading-bar-four 2.0s;
}
@keyframes loading-bar-one {
  from  {width: 0px;}
  to {width: 200px;}
}
@keyframes loading-bar-two {
  from  {width: 200px;}
  to {width: 400px;}
}
@keyframes loading-bar-three {
  from  {width: 400px;}
  to {width: 600px;}
}
@keyframes loading-bar-four {
  from  {width: 600px;}
  to {width: 800px;}
}
.loading-text {
  text-align: center;
}
.loading-text > h3 {
  background-color: #ffffffcf;
  padding: 10px;
  border-radius: 10px;
}