.spinner {
  font-size: 300%;
  animation: spin-animation 1.0s 4000;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spinner-text {
  font-size: 1.5rem;
}

.check-out {
  margin-top: 30px;
  align-self: center;
  width: fit-content;
  max-height: 120px;
}

.prep {
  font-size: 24px;
}

.received-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  background-image: URL("https://images.pexels.com/photos/139321/pexels-photo-139321.jpeg?cs=srgb&dl=pexels-fwstudio-139321.jpg&fm=jpg");
  background-size: 40vh;
}

.loading-bar {
  height: 50px;
  width: 80%;
  // background-color: rgba(255, 255, 255, 0.116);
}

.progress {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.486);
}
// LOADING BAR ANIMATION
.progress .stageOne {
  animation: loading-bar-one 3.0s;
}
.progress .stageTwo {
  animation: loading-bar-two 1.0s;
}
.progress .stageThree {
  animation: loading-bar-three 1.0s;
}
.progress .stageFour {
  animation: loading-bar-four 2.0s;
}
@keyframes loading-bar-one {
  from  {width: 0px;}
  to {width: 25%;}
}
@keyframes loading-bar-two {
  from  {width: 25%;}
  to {width: 50%;}
}
@keyframes loading-bar-three {
  from  {width: 50%;}
  to {width: 75%;}
}
@keyframes loading-bar-four {
  from  {width: 75%;}
  to {width: 100%;}
}
.loading-text > p {
  text-align: center;
  background-color: #ffffffcf;
  padding: 5px;
  font-size: 2rem;
  border-radius: 10px;
}

.loading-text > h3 {
  background-color: #ffffffcf;
  padding: 10px;
  font-size: 3rem;
  border-radius: 10px;
}

.loading-text > p {
  font-size: 20px;
  font-weight: 600;
  background-color: #ffffffcf;
  padding: 5px;
  border-radius: 5px;
}
