// RESTAURANT OWNER VIEW
input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 30px;
  padding: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
.restaurant > td {
  font-size: 20px !important;
  padding: .5rem;
}