main {
  font-family: 'Indie Flower', cursive;
}

#owner-options {
  display: flex;
}

.owner-input {
  width: 300px;
  margin: 1em;
  background-color: white;
}

.orders-section {
  display: flex;
  flex-direction: column;
}