body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
  width: 800px;

}

.nav{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: lightblue;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 10px;
}

/* ORDER CSS */

.order-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: lightgreen;
}

.order-title {
  text-align: center;
}

.order-entries {
  padding: 20px;
}

.order-entries > tr > td, tr > th {
  text-align: center;
}

.orderTotalContainer {
  display: inline;
  width: fit-content;
  margin: 10px auto;
  font-size: 1.5rem;
  padding: 0.25rem 0.25rem;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(198, 245, 239);
}

#orderTotal {
  font-style: italic;
}

/* MENU CSS */

.menu-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: lightcyan;
}

h2 {
  text-align: center;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
  padding-bottom: 20px;
}

h5 {
  text-align: center;
}

.menu-items {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}

.item {
  width: 33%;
  max-height: 170px;
}

.item > img {
  width: 100%;
}

#next, #previous {
  opacity: 2;
  transform: scale(2);
}

/* Footer CSS */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  background-color: lightblue;
}
